<div class="row">
  <div class="col-sm-6">

    <form>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="">NAME</label>
          <input type="text" class="form-control" #nameInput>
        </div>

        <div class="col-sm-4 form-group">
          <label for="">QTE</label>
          <input type="text" class="form-control" #qteInput>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary mr-1" type="submit" (click)="onAddItem()" > + </button>
          <button class="btn btn-warning mr-1" type="button">Suppr</button>
          <button class=" btn btn-secondary mr-1" type="button">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
